%footer
  %nav.round
    %ul
      %li= link_to 'About', about_path
      %li= link_to 'Contact', contact_path
      %li
        :textile
          "News":http://news.railstutorial.org/
      %li
        :textile
          "Rails Tutorial":http://www.railstutorial.org/
